<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.mikedamage.lifehackerRSS</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/rss</string>
		<string>-n 3</string>
		<string>http://lifehacker.com/index.xml</string>
		<string>&gt;</string>
		<string>/tmp/lifehacker.html</string>
	</array>
	<key>StartInterval</key>
	<integer>300</integer>
</dict>
</plist>